.navbar {
    position: relative;
    width: 100vw;
    font-size: 1rem;
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    /*border: 2px solid black;*/
    padding-inline: 5em;
    padding-block: 2em;
}

.web-title {
    position: relative;
    width: 50%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    letter-spacing: 0.1em;
    font-weight: 100;
}

.web-title b {
    color: #10ac79;
}

.nav-link-section {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    margin-right: 2em;
}

.link-to {
    cursor: pointer;
}

.nav-link:last-child {
    margin-inline: 0em;
}

@media only screen and (max-width: 800px) {
    .navbar {
        padding-inline: 1.2em;
    }
}

@media only screen and (max-width: 582px) {
    .navbar {
        font-size: 0.67em;
    }
}